.campo_maior {
  text-align: center;
  width: 50%;
  margin-left: 2rem;
}

.campo_menor {
  margin-left: 3rem;
}

h1 {
margin: 2rem;
text-align: center;
}

form {
  margin-left: 20rem;
  width: 50%;
}

.buttons{
  width: 100%;
  text-align: center;
  margin: 0.0rem;
}

button {
  margin: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;

}

