<app-header></app-header>
<app-footer></app-footer>
<br>
<body>
<form>

  <mat-form-field class="campo_maior">
    <mat-label>Nome Completo</mat-label>
    <input matInput [(ngModel)]="usuario.nome"
    type="text"
    name="nome" required placeholder="Digite seu nome">
  </mat-form-field>
  
  <mat-form-field class="campo_menor">
    <mat-label>Matrícula</mat-label>
    <input matInput [(ngModel)]="usuario.matricula"
    type="text"
    name="matricula" required placeholder="Digite sua matricula">
  </mat-form-field>

<mat-form-field class="campo_maior">
  <mat-label>Endereço</mat-label>
  <input
  matInput [(ngModel)]="usuario.endereco"
  type="text"
  name="endereco" required placeholder="Rua, bairro e Cidade">
</mat-form-field>

<mat-form-field class="campo_menor">
  <mat-label>Tipo de Perfil</mat-label>
  <mat-select [(ngModel)]="usuario.tipoPerfil" name="select" required>
    <mat-option *ngFor="let select of tipos" [value]="select.valor">
      {{select.viewValor}}
    </mat-option>
  </mat-select>
</mat-form-field>


  <div class="buttons">
    <button (click)="criarUsuario()" class="mat-elevation-z8" mat-raised-button color="primary">SALVAR</button>
    <button (click)="navegarParaListaUsuarios()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
  </div>
</form>
</body>
