<app-header></app-header>
<app-footer></app-footer>
<br>
<body>
<form>
  <h1>Novo Usuário</h1>

  <mat-form-field class="campo_maior">
    <mat-label><strong>Nome completo *</strong></mat-label>
    <input matInput [(ngModel)]="usuario.nome"
    type="text"
    name="nome" requerid placeholder="Digite seu nome">
  </mat-form-field>

  <mat-form-field class="campo_menor">
    <mat-label><strong>Matrícula *</strong></mat-label>
    <input matInput [(ngModel)]="usuario.matricula"
    type="number"
    name="number" requerid placeholder="123456789">
  </mat-form-field>

<mat-form-field class="campo_maior">
  <mat-label><strong>Endereço </strong></mat-label>
  <input
  matInput [(ngModel)]="usuario.endereco"
  type="text"
  name="endereco" placeholder="Rua, Bairro e Cidade">
</mat-form-field>

<mat-form-field class="campo_menor">
  <mat-label><strong>CPF *</strong></mat-label>
  <input matInput [(ngModel)]="usuario.cpf"
  type="number"
  name="cpf"
  placeholder="Ex: ************" requerid>

  <input matInput #message maxlength="11">
  <mat-hint align="start"></mat-hint>
  <mat-hint align="end">{{message.value.length}} / 11</mat-hint>

</mat-form-field>


  <mat-form-field class="campo_maior">
    <mat-label><strong>E-mail *</strong></mat-label>
    <input type="email" matInput [(ngModel)]="usuario.email"
    type="email"
    name="email"
    placeholder="Ex: clinica@gmail.com" requerid> 
  </mat-form-field>

  <mat-form-field class="campo_menor">
    <mat-label><strong>Tipo de Perfil</strong></mat-label>
    <mat-select [(ngModel)]="usuario.tipoPerfil" name="select" requerid>
      <mat-option *ngFor="let select of tipos" [value]="select.valor">
        {{select.viewValor}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="campo_maior">
    <mat-label><strong>Senha *</strong></mat-label>
    <input matInput [(ngModel)]="usuario.senha"
    type="password"
    name="senha"
    placeholder="*********" requerid>
  </mat-form-field>
 
  <mat-form-field class="campo_menor">
    <mat-label><strong>Telefone *</strong></mat-label>
    <input type="number" matInput [(ngModel)]="usuario.email"
    type="number"
    name="number"
    placeholder="(xx) xxxxx-xxxx" requerid>
  </mat-form-field>

  <div class="buttons">
    <button (click)="criarUsuario()" class="mat-elevation-z8" mat-raised-button color="primary">SALVAR</button>
    <button (click)="navegarParaListaUsuarios()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
  </div>
</form>
</body>
